/.gradle/configuration-cache/dzfcl96mhhwr037f9j4q2kpx0/buildfingerprint.bin
/build/reports/configuration-cache/dzfcl96mhhwr037f9j4q2kpx0/2bez52h6zq63ntq3pmmd3gle8/configuration-cache-report.html
/.gradle/configuration-cache/dzfcl96mhhwr037f9j4q2kpx0/projectfingerprint.bin
/.gradle/configuration-cache/dzfcl96mhhwr037f9j4q2kpx0/work.bin
